@import '../../scss/abstracts/variable';



h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.813rem;
}



.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .order-img {
        max-width: 85px;

        img {
            max-width: 85px;
        }
    }

    .item-details {
        font-size: 0.813rem;
        width: 179px;

        p {
            margin-bottom: 0;
        }

        .item-title {
            font-weight: 600;
        }
    }

    .quatity {
        width: 100px;
        position: relative;

        input {
            text-align: center;
        }

        .quantity-controls {
            width: 10px;
            position: absolute;

            &.minus {
                top: 13px;
                left: 10px;
            }

            &.plus {
                bottom: 13px;
                right: 10px;

            }
        }
    }
}

.delivery-options {
    .option-image {
        margin-left: 20px;
        max-width: 100px;
    }
}

.figures {


    p {
        font-size: 0.813rem;
    }

    .bordered-top {
        border-top: 1px solid $grey;
        padding: 16px 0px;
    }
}