<app-ext-nav></app-ext-nav>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-5 mt-4">Checkout</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Delivery Information</h2>
            <div class="custom-card white-card">
                <form [formGroup]="deliveryForm" class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="fullName">Full Name</label>
                        <input type="text" id="fullName" formControlName="fullName" class="form-control"
                            [ngClass]="checkError('fullName')? 'error-box' : ''">
                        <p *ngIf="checkError('fullName')" class="error-notification">
                            Please enter your full name</p>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="mobileNumber">Mobile Number</label>
                        <input type="tel" formControlName="mobileNumber" class="form-control"
                            [ngClass]="checkError('mobileNumber')? 'error-box' : ''">
                        <p *ngIf="checkError('mobileNumber')" class="error-notification">
                            Please enter your phone number</p>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control"
                            [ngClass]="checkError('email')? 'error-box' : ''">
                        <p *ngIf="checkError('email')" class="error-notification">
                            Please enter a valid email address</p>
                    </div>
                    <h3 class="mt-4"> Delivery Address:</h3>
                    <div class="autocomplete-container">
                        <div class="col-md-12">
                            <label class="form-label" for="addressLine1">Address Line 1</label>
                            <input type="text" formControlName="addressLine1" class="form-control"
                                [ngClass]="checkError('addressLine1')? 'error-box' : ''">
                            <p *ngIf="checkError('addressLine1')" class="error-notification">
                                Please enter your address</p>
                        </div>
                        <div *ngIf="filteredLocations.length > 0" class="autocomplete-box">
                            <ul>
                                <li *ngFor="let location of filteredLocations" (click)="populateAddress(location)">{{(location.civic_address +", "+
                                    (location.parish) +", " +
                                    location.post_zone) }} </li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="addressLine2">Address Line 2</label>
                        <input type="text" formControlName="addressLine2" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="city">City</label>
                        <input type="text" formControlName="city" class="form-control"
                            [ngClass]="checkError('city')? 'error-box' : ''">
                        <p *ngIf="checkError('addressLine1')" class="error-notification">
                            Please enter your address</p>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="parish">Parish</label>
                        <select formControlName="parish" class="form-select"
                            [ngClass]="checkError('parish')? 'error-box' : ''">
                            <option *ngFor="let p of parishes" value="{{p.parish}}">
                                {{p.parish}}
                            </option>
                        </select>
                        <p *ngIf="checkError('parish')" class="error-notification">
                            Please select a parish</p>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="postalZone">Postal Zone</label>
                        <input type="text" formControlName="postalZone" class="form-control"
                            [ngClass]="checkError('postalZone')? 'error-box' : ''">
                        <p *ngIf="checkError('postalZone')" class="error-notification">
                            Please enter your postal zone</p>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="smartCode">SMART Code</label>
                        <input type="text" formControlName="smartCode" class="form-control"
                            [ngClass]="checkError('smartCode')? 'error-box' : ''">
                        <p *ngIf="checkError('smartCode')" class="error-notification">
                            Please enter your SMART Code</p>
                    </div>
                </form>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <h2>Delivery Options</h2>
                    <div class="custom-card white-card">
                        <form [formGroup]="deliveryOptionsForm">
                            <div class="col-md-12">
                                <div *ngFor="let option of deliveryOptions" class="delivery-options">
                                    <label>
                                        <input type="radio" formControlName="deliveryOption" value="{{option.courier}}"
                                            [(ngModel)]="selectedCourier">
                                        <img src="{{option.image}}" class="option-image">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <label class="form-label" for="note">Note</label>
                                <textarea id="note" formControlName="note" class="form-control" rows="4"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <h2>Order Summary</h2>
            <div class="custom-card white-card d-flex justify-content-between flex-column  h-100">
                <div>
                    <div class="order-item" *ngFor="let product of products">
                        <div class="order-img">
                            <img src={{product.image}}>
                        </div>
                        <div class="item-details">
                            <p class="item-title">{{product.name}}</p>
                            <p>{{product.sku}}</p>
                            <p>{{product.price * product.quantity | currency}}</p>
                        </div>
                        <div class="quatity">
                            <img src="../../assets/icons/minus-solid.svg" alt="Decrease" class="quantity-controls minus"
                                (click)="product.quantity > 1 ? product.quantity = product.quantity - 1 : product.quantity; calculateSubTotal() ">
                            <input type="number" [(ngModel)]="product.quantity" class="form-control"
                                (change)="calculateSubTotal()">
                            <img src="../../assets/icons/plus-solid.svg" alt="Increase" class="quantity-controls plus"
                                (click)="product.quantity = product.quantity+ 1; calculateSubTotal()">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="figures">
                        <div class="bordered-top">
                            <div class="d-flex justify-content-between">
                                <p>Subtotal</p>
                                <p>{{subTotal | currency}}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>Shipping</p>
                                <p>{{shippingCost |currency}}</p>
                            </div>
                        </div>
                        <div class="bordered-top">
                            <div class="d-flex justify-content-between">
                                <p>Total (JMD)</p>
                                <p>{{ subTotal + shippingCost | currency}}</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="custom-button button-green w-100"
                        (click)="submitDeliveryDetails()">Place
                        Order</button>
                </div>
            </div>
        </div>
    </div>

</div>