@import '../../../scss/abstracts/variable';

nav {
    background-color: $white;
    padding: 15px;
    display: flex;
    justify-content: end;



    ul {
        list-style: none;
        display: flex;

        .nav-item {
            font-size: 0.875rem;
            margin-right: 30px;
            cursor: pointer;


            &:hover {
                color: $blue-3;
            }

            a {
                text-decoration: none;
                color: $green;

                &:hover {
                    color: $blue-3;
                }
            }
        }

    }


}