<app-internal-nav></app-internal-nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="custom-mt">
                <h1 class="mb-4">Welcome back, Electronics Plus!</h1>
            </div>
        </div>
    </div>
    <div class="row my-4 g-3">
        <div class="col-md-4">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="search-addon">
                    <img src="../../../assets/icons/search.svg" alt="Search">
                </span>
                <input type="text" class="form-control" placeholder="Search for parcel ID"
                    aria-label="Search for parcel ID" aria-describedby="search-addon">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <label class="input-group-text" for="filterSelect">
                    <img src="../../../assets/icons/filter.svg">
                </label>
                <select class="form-select" id="filterSelect">
                    <option selected>Filter
                    <option>
                    <option value="1">Ready for pickup</option>
                    <option value="2">Delivered</option>
                    <option value="3">Pending</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <label class="input-group-text" for="sortSelect">
                    <img src="../../../assets/icons/sort.svg">
                </label>
                <select class="form-select" id="sortSelect">
                    <option selected>Recent deliveries
                    <option>
                    <option value="1">Last week's deliveries</option>
                    <option value="2">Last month's deliveries</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="custom-card white-card">
                <div class="custom-card-header">
                    <h2>Deliveries</h2>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date Submitted</th>
                                <th>Status</th>
                                <th>Recipient</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let parcel of merchantParcels">
                                <td>{{parcel.date_created | date }}</td>
                                <td><span
                                        [ngClass]="parcel.package_status =='Pending' ?'orange-badge custom-badge' :'green-badge custom-badge' ">{{parcel.package_status}}</span>
                                </td>
                                <td>{{parcel.recipient_name}}</td>
                                <!-- <td><button class="custom-button button-blue" data-bs-toggle="modal"
                                        data-bs-target="#manage-status">View</button></td> -->
                                <td><button class="custom-button button-blue" data-bs-toggle="modal">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade none-border" id="manage-status">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><strong>Parcel: ZP38234</strong></h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p><strong>Customer</strong></p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>Jamie Chang</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p><strong>Address</strong></p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>18 Mulbery Vale, Mona Crescent Hanover</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-label">Package status</label>
                                            <select class="form-control form-white" name="category-color">
                                                <option value="---">---</option>
                                                <option value="ready">Ready for pickup</option>
                                                <option value="delivered">Delivered</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="custom-button button-green"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="button" class="custom-button button-blue"
                                    data-bs-toggle="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>