$font: 'Poppins', sans-serif;
$white: #FFFFFF;
$grey: #dcdbdb;
$grey-2: #F8F7F5;
$green: #232E1F;
$green-2: #4F8D93;
$green-3: #E0F2EA;
$green-4: #3DB67D;
$red: #f42670;
$red-2: #F9D9DD;
$orange: #f47b26;
$orange-2: #f9e7d9;
$blue:#3d86b6;
$blue-2: #e0e9f2;
$blue-3: #52909E;
$blue-4:#8EC5F5;