<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-center" style="min-height:100vh">
                <div class="white-card auth-card">
                    <div class="p-5">
                        <div class="row">
                            <div class="col-sm-12 col-lg-5 h-100">
                                <h1>Login</h1>
                                <p>Welcome back to <strong>TrackStar!</strong></p>
                                <form [formGroup]="loginForm" (ngSubmit)="login()" class="mt-4">
                                    <div class="mb-3">
                                        <label for="emailAddress" class="form-label">Email</label>
                                        <input type="text" class="form-control" formControlName="emailAddress"
                                            [ngClass]="checkError('emailAddress')? 'error-box': ''" />
                                        <p *ngIf="checkError('emailAddress')" class="error-notification">
                                            Please enter a valid email
                                        </p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" formControlName="password"
                                            [ngClass]="checkError('password')? 'error-box': ''" />
                                        <p *ngIf="checkError('password')" class="error-notification">
                                            Please enter your password
                                        </p>
                                    </div>
                                    <div class="d-flex flex-column flex-md-row  justify-content-between mb-5">
                                        <div class="form-check">
                                            <input type="checkbox" formControlName="rememberMe"
                                                class="form-check-input"><label for="rememberMe"
                                                class="form-check-label">Remember me</label>
                                        </div>
                                        <a href="#" class="mt-2 mt-md-0 forget-me">Forget Password?</a>
                                    </div>
                                    <div class="button-group-vertical" type="submit">
                                        <button class="custom-button button-green">
                                            Login
                                        </button>
                                        <button class="custom-button button-green-outline">
                                            Register
                                        </button>
                                    </div>
                                    <div class="text-center mt-4">
                                        <p class="small-text">Don't have an account yet? <a href="#">Register now!</a>
                                        </p>
                                    </div>
                                </form>
                            </div>

                            <div class="col-lg-6">
                                <div class="text-center">
                                    <video autoplay loop width="450">
                                        <source src="../../../assets/videos/Delivery.mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>